html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #333;
}

.calculator-screen {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: none;
  background-color: #252525;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
  border-radius: 5px 5px 0 0;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.calculator-keys button {
  height: 60px;
  background-color: #555;
  border-radius: 5px;
  border: none;
  font-size: 2.5rem;
  color: #eee;
  cursor: pointer;
  transition: background-color 0.2s;
}

.calculator-keys button:hover {
  background-color: #777;
}

.operator {
  background-color: #f7952b !important;
}

.operator:hover {
  background-color: #faac57 !important;
}

.all-clear {
  background-color: #f05454 !important;
}

.all-clear:hover {
  background-color: #f37777 !important;
}

.equal-sign {
  grid-column: -2 / -1;
  grid-row: 2 / span 4;
  background-color: #28a745 !important;
}

.equal-sign:hover {
  background-color: #38c755 !important;
}